Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/*C_ACLiC_dict*
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/*.d
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/*.so
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/*.tsv
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/*bk
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/*.zip
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/_final
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/_final/*
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/plots
Full\ ResTest\ CERN\ root\ system\ as\ of\ 2023_12_27/plots/*

